
body{
  margin:0%;
  padding:0%;
  border: 0%;
  font-family: cursive, "Brush Script MT";
}

@media (prefers-reduced-motion: no-preference){
  *{
    scroll-behavior:smooth;
  }

}

html{
  font-size: 10px;
  
  
}

header{
  color:white ;
  background-color:#031024;
  width:100%;
  height: clamp(50px,5vh,10vh);
  display:flex;
  position:fixed;
  top:0;
  justify-content: space-between;
  align-items: center;
  border-bottom:clamp(0.5px,3vh,4.5px) solid orange;
  
}

main{
  
  height:100vh;
  width:100%;
  
}

#fcc-logo{
  width: clamp(100px,20vw,250px);
  max-height: 10vh;
  min-height: 15px;
  background-color: #031024;
  aspect-ratio:35/4;
  margin: 3px 0px 0px 0px;
}

#fcc-logo:hover{
  cursor:pointer;
}

#H11{
  margin-left: 50px;
  color:orange;
  font-size: clamp(6px,3vw,38px);
}

nav{

  width: 38%;
  max-width:360px;
  height: 50px;

}

nav >ul{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    margin:0px 20px 0px 0px;
    padding:0px;
    height:100%;
   
}

nav > ul >div> li{
  display:block;
  
  
}


header>nav>ul>div>li>a{
  
  text-decoration:none;
  color:inherit;
  font-size:clamp(10px,2vw,17px);
  
  
}


nav>ul>div:hover{
  border-bottom:2.5px solid orange;
  margin-bottom:4.5px;
  cursor:pointer;
}

.bottom-border{
  padding:4px 0px 2.5px 0px;
  border-bottom:2.5px solid white;
}

.titulo{
  border-top:50px solid #B0C4DE;
  font-family:sans-serif;
  font-size: clamp(20px, 5vw, 70px);
  padding-top:0px;
  background-color: white;
  width:100%;
  margin:0px 0px 20px 0px;
}

#img-div{
  /*canvas*/
  text-align:center;
  
  border:10px solid white;
  padding:10px;
  background-color:#B0C4DE;
  margin:0px auto 0px auto;
  
  
}

#image{
    height:auto;
    max-width: 100%;
    
    display:block;
    margin: auto;
    padding:10px;
    background-color:white;
}

#img-caption{
  margin: 20px 0px 0px 0px;
 font-size: clamp(5px, 3vw, 20px);
 font-style: italic;
 background-color: white;
}

.hyperlink{
color:orange;
}

.hyperlink:visited{
color:purple;
}

.hyperlink:hover{
color:yellow;
}

.hyperlink:active{
color:white;
}

#tribute-info{
background-color:white;
width:96%;
max-width:1000px;
margin: 30px auto 0px auto ;
}

.div-bar{

border-top: 6px solid #031024;
}

.subtitle{
margin:0px 0px 0px 0px;
padding: 50px 0px 5px 0px; 
font-size:clamp(5px, 3vw, 40px);
border-top: 20px dotted #B0C4DE;

}

.paragraph{
font-size:clamp(5px, 3vw, 22px);
text-align: justify;
padding:0px min(5%,30px) 0px min(5%,30px);
font-family:times new roman;
}

.div-bottom-bar{
border-bottom: 50px solid #B0C4DE;
}


section>ul{
font-size:clamp(5px, 3vw, 18px);
max-width:800px;
width:80%;
text-align: left;
line-height: 1.9em;
padding:0px;
list-style-position:inside;
margin: 0px 0px 20px 18%;

}

section>ul>li{ 
 margin-top: 8px;

}

section>ul>li:first-of-type{
margin-top:20px;
}

section>ul>li{
list-style-type: "â©  ";
}
::marker{
font-size: 1.3em;

}

strong{
font-weight: 900;
font-size:1em;
}

footer{
background-color:#031024;
display:flex;
justify-content:center;
min-height:50px;
}

footer>address{
text-align:center;
color: white;
font-size:clamp(10px,2vw,17px);
}

.image-container{
display:flex;
justify-content:center;
height:auto;
width:auto;
padding:10px;

}


